*.aux
*.bbl
trash.txt
*.log
main.toc
main.pdf
*.blg
*.fdb_latexmk
*.fls
*.gz
*.out
main.rel
common/auto/definitions.el
common/auto/references.el
ICFP2016-Refs/auto/main.el
Refinements/auto/
Refinements/proofs/auto/
Refinements/_minted*/
CastImprovement/ci4agt.pdf
ICFP2016-Refs/algorithmic-nonsets.tex
ICFP2016-Refs/algorithmic-sets.tex
ICFP2016-Refs/bounded.pdf
ICFP2016-Refs/bounded.tex
ICFP2016-Refs/lsecPC.pdf
ICFP2016-Refs/main_BACKUP_76972.tex
ICFP2016-Refs/main_BASE_76972.tex
ICFP2016-Refs/main_LOCAL_76972.tex
ICFP2016-Refs/main_REMOTE_76972.tex
ICFP2016-Refs/test.pdf
ICFP2016-Refs/test.tex
Sums/AGT_sums.pdf
Sums/sums.pdf
arxiv
arxiv.zip
auto
py_Interpreter/.idea/
!legacy_main.pdf
*.o
*.hi
*.pyc
*.vtc
tex/main.pdf
.DS_Store
*.DS_Store
tex/.DS_Store
*/.DS_Store
latex/main.synctex(busy)
*/**/venv
