.vscode/**
.vscode-test/**
src/**
.gitignore
tsconfig.json
node_modules/**
!node_modules/frogql/**
!node_modules/@napi-rs/**
!node_modules/frogql-darwin-arm64/**
!node_modules/frogql-darwin-x64/**
!node_modules/frogql-linux-x64-gnu/**
!node_modules/frogql-linux-arm64-gnu/**
!node_modules/frogql-win32-x64-msvc/**
out-tests/**
tests/**
tsconfig.test.json
.planning/**
*.vsix
**/.DS_Store
